@import url("https://fonts.googleapis.com/css?family=Mukta:700");
@import url("https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css");

.split {
    display: flex;
    flex-flow: row-reverse wrap;
    align-items: center;
    justify-content: space-around;
    margin-top: calc(300px/2);
}

.split #logo {
    display: flex;
    width: 300px;
    height: 300px;
    align-items: center;
    background: url(logo.svg) 0 0 no-repeat;
}

h1 {
    font-family: 'Mukta', 'sans-serif';
    font-variant: small-caps;
    color: #282828;
    display: flex;
    line-height: 10rem;
    align-items: center;
}

ul {
    position: absolute;
    display: flex;
    flex-direction: row-reverse;
    bottom: 50px;
    left: 10px;
}

li {
    margin: 5px;
    background-color: #DC2828;
    color: white;
    text-decoration: none;
    border-radius: 0 1rem;
    height: 2rem;
    display: inline-flex;
    align-items: center;
    overflow: hidden;
    width: auto;
    max-width: 2rem;
    -webkit-transition: max-width 0.5s;
    transition: max-width 0.5s;
}

li:hover {
    max-width: 300px;
}

.icon {
    font-size: 1rem;
    margin-right: 0.5rem;
    padding: 0rem 0.5rem;
    display: flex;
    align-items: center;
}

.text {
    font-family: 'Mukta', sans-serif;
    font-weight: 600;
    font-size: 1.2rem;
    font-variant: small-caps;
    white-space: nowrap;
    padding-right: 15px;
}